#tab1 td{
	font-color:#aae698;
	font-size: medium;
	}
	
h1{color:rgb(243, 125, 57);}

body {
	background-color: rgb(237, 243, 250);
}

a{
	text-decoration: none;
	color: black;
}

#id1{
	margin:50px;
}

#name2{
	
	
	background-image: url('images/flower.jpg'); 
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	  
}

#visitinfo{
	background-color: #875ada;
	
	border: #7a00df;
}
#cap {padding: 10px;}

#visitinfo font{
	font-size: x-large;
	color: rgb(255, 255, 255);
}
#visitinfo caption{
	font-size: x-large;
	font-weight:1000;
	color: rgb(156, 26, 189);
}

#list{
	background-color: rgb(220, 205, 224);
	
}
#list li{
	line-height: 10mm;
	
	color: rgb(9, 9, 83);
	list-style-type: square;
}
#foot1 {
	background-color: blueviolet;
	color: white;
}
#foot1 a {
	background-color: blueviolet;
	color: white;
}
#foot2 {
	background-color: rgb(46, 17, 73);
	color: white;
}
#contactus caption{
	font-size: 25px;
	color: rgb(167, 11, 167);
}
#tab2{
	margin-left: 3%;
}
#tab3{
	margin-left: 3%;
}