/*

Theme Name: Circles Wordpress Theme (shared on themelot.net)
Theme URI: http://themeforest.net/item/circles-retina-responsive-multipurpose-theme/4739370
Author URI:http://themeforest.net/user/ThemeSmack
Description: Clean Corporate Theme
Author: ThemeSmack Team
Version: 4.4
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/
#google_language_translator{float:right;}
.gt{width:auto;height:50px;margin-top:20px;overflow:hidden;float:right;}
#flags.size24 a[title="Tamil"],
.tool-container .tool-items a[title="Tamil"] {
    background:url('http://goplaces.lk/botanicalgardens/wp-content/uploads/2015/09/India-FlagIcon.png') no-repeat;
}
.socials a{width:63px; height:30px;}
.teaser > img, .teaser div > img{border-radius:0!important;}
.teaser{border-radius:0!important;}
.teaser.style2 header{border-radius:0 0 0 0!important;}
.widget_out_stuff-container .item-con-t1{border-radius:0!important;}
.teaser > div{border-radius:0!important;}
.three-plates-upload{height:0px;}
.wrapper.default-bg .personal-details{padding:0;}
.logo img{width:500px!important; height:60px !important;}
